.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    color: #147568;
}

a {
    color: #147568;
}
  /* 147568 */
.navbar-link:not(.is-arrowless)::after {
    border-color: #147568;
}

#main {
    max-width: 1000px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }

#overlay {
    /* position: fixed; */
    background: white;
    Background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    max-width: 1000px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline;
  cursor: pointer;
  color: #147568;
  text-decoration: underline;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(85, 85, 85, 0.877);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 1em;
  z-index: 9999;
}

.popuph1 {
  visibility: hidden;
  width: 500px;
  background-color: rgba(85, 85, 85, 0.877);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 16pt;
  z-index: 9999;
}

.popuptext a {
  color: #fff;
  font-size: 12pt;
}

.popuph1 a {
  color: #fff;
  font-size: 12pt;
}

.popup .popuptext.bottomup {
  top: 125%;
  bottom: unset;
}

/* botttom popup arrow */
.popup .popuptext.bottomup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  top: unset;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(85, 85, 85, 0.877) transparent;
}


/* top popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.877) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.inline {
    display: inline;
}

#inline {
  display: inline;
}

#centred {
    text-align: center;
}

#map {
  position: sticky;
  top: 0px;
  width: 70%;
  height: 100vh;
}
#features {
  width: 30%;
  margin-left: 70%;
  overflow: hidden;
  background-color: #fafafa;
  top: -100vh;
  position: relative;
}

#features section {
  padding:  25px 25px 25px 25px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
  /* font-size: 13px; */
  min-height: 75%;
}
#features section.active {
  opacity: 1;
}
#features section:last-child {
  border-bottom: none;
  margin-bottom: 600px;
}

section.section div.section {
  padding: 0;
}

a:target {
  font-weight: bold;
  box-shadow:3px 0 0 #86fbee, -3px 0 0 #86fbee;
  background-color: #86fbee;
}

a[name] {
  color: #4a4a4a;
  cursor: auto;
}

/* Style the video: 100% width and height to cover the entire window */
#vid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#vid video {
  width: auto;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0;
}